/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 175px;
}
.copyright-text {
  font-size: 12px;
}

/* Media Queries Section */
/* iPhone X Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .copyright-text {
    font-size: 12px;
  }
  footer {
    padding-left: 0;
  }
}

/* iPhone 6, 7, 8, Portrait & Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .copyright-text {
    font-size: 11px;
  }
  footer {
    padding-left: 0;
  }
}

/* iPhone 5, 5s */
@media only screen and (min-device-width: 320px) and (max-device-width: 350px) and (-webkit-min-device-pixel-ratio: 2) {
  .copyright-text {
    font-size: 10px;
  }
  footer {
    padding-left: 0;
  }
}

/* iPad in portrait & landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .copyright-text {
    font-size: 12.5px;
  }
  footer {
    padding-left: 0;
  }
}
